{% extends 'base.html.twig' %}

{% block title %}Hopital | Edit Service{% endblock %}

{% block body %}
    <h1 align="center">Editer service</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Valider'}) }}

   
{% endblock %}
