{% extends 'base.html.twig' %}

{% block title %}Hopital | New Service{% endblock %}

{% block body %}
    <h1 align="center">Ajout service</h1>
<div class="form-group">
    {{ include('service/_form.html.twig') }}
    
</div>
{% endblock %}
