<form method="post" action="{{ path('specialite_delete', {'id': specialite.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir suprimer cet element?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite.id) }}">
    <button class="btn btn-danger">Suprimer</button>
</form>
