{% extends 'base.html.twig' %}

{% block title %}Hopital | New Specialite {% endblock %}

{% block body %}
</br>
</br>
    <h5 align="center">Nouveau Speacialite</h5>

    {{ include('specialite/_form.html.twig') }}

    
</div>
{% endblock %}
