{% extends 'base.html.twig' %}

{% block title %}Hopital | Edit Medecin{% endblock %}

{% block body %}
<h1 align="center">Editer Medecin</h1>
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
     
   <div class="form-group">
        {{ include('medecin/_form.html.twig', {'button_label': 'Valider'}) }}
        
    </div>
           
    </div>
    </div>
     
    </div>
</div>
{% endblock %}
