{% extends 'base.html.twig' %}

{% block title %}Hopital | Ajout Medecin{% endblock %}

{% block body %}
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">


{{ include('medecin/_form.html.twig') }}

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

</br>


</div>
</div>

{% endblock %}
