
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>

            body {
              margin: 0;
              padding: 0;
          }
  
          a.navbar-brand {
              float: left;
              height: 50px;
              padding: 15px 15px;
              font-size: 18px;
              line-height: 20px;
              text-decoration: none;
              color: orangered;
              font-family: cursive;
              font-weight: 700;
             
          }
  
          nav.main-navigation {
              position: relative;
          }
  
          nav.main-navigation ul.nav-list {
              margin: 0;
              padding: 0;
              list-style: none;
              position: relative;
              text-align: right;
          }
  
          .nav-list li.nav-list-item {
              display: inline-block;
              line-height: 40px;
              margin-left: 30px;
              margin-top: 15px;
          }
  
          a.nav-link {
              text-decoration: none;
              font-size: 18px;
              font-family: sans-serif;
              font-weight: 500;
              cursor: pointer;
              position: relative;
              color: #404040;
          }
  
          @keyframes FadeIn {
              0% {
                  opacity: 0;
                  -webkit-transition-duration: 0.8s;
                  transition-duration: 0.8s;
                  -webkit-transform: translateY(-10px);
                  -ms-transform: translateY(-10px);
                  transform: translateY(-10px);
              }
  
  
              100% {
                  opacity: 1;
                  -webkit-transform: translateY(0);
                  -ms-transform: translateY(0);
                  transform: translateY(0);
                  pointer-events: auto;
                  transition: cubic-bezier(0.4, 0, 0.2, 1);
              }
          }
  
          .nav-list li {
              animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
              animation-fill-mode: both;
          }
  
          .nav-list li:nth-child(1) {
              animation-delay: .3s;
          }
  
          .nav-list li:nth-child(2) {
              animation-delay: .6s;
          }
  
          .nav-list li:nth-child(3) {
              animation-delay: .9s;
          }
  
          .nav-list li:nth-child(4) {
              animation-delay: 1.2s;
          }
  
          .nav-list li:nth-child(5) {
              animation-delay: 1.5s;
          }
  
          /* Animation */
  
          @keyframes fadeInUp {
              from {
                  transform: translate3d(0, 40px, 0)
              }
  
              to {
                  transform: translate3d(0, 0, 0);
                  opacity: 1
              }
          }
  
          @-webkit-keyframes fadeInUp {
              from {
                  transform: translate3d(0, 40px, 0)
              }
  
              to {
                  transform: translate3d(0, 0, 0);
                  opacity: 1
              }
          }
  
          .animated {
              animation-duration: 1s;
              animation-fill-mode: both;
              -webkit-animation-duration: 1s;
              -webkit-animation-fill-mode: both
          }
  
          .animatedFadeInUp {
              opacity: 0
          }
  
          .fadeInUp {
              opacity: 0;
              animation-name: fadeInUp;
              -webkit-animation-name: fadeInUp;
          }
        </style>
        <link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css >
        {% endblock %}
    </head>
    <body>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
         <nav class="main-navigation">
                <div class="navbar-header animated fadeInUp">
                    <a class="navbar-brand" href="/">SunuClinic</a>
                </div>
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/medecin" class="nav-link">Medecin</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/service" class="nav-link">Service</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/specialite" class="nav-link">Specialite</a>
                    </li>
                  
                    <li class="nav-list-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
        
            </nav>
        
      
    
    

        {% block body %}
        
       
        
        
        {% endblock %}





 {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 {% endblock %}
    </body>
</html>

